.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea{
  resize: none;
  width: 90vw;
  height: 80vh;
  background-color: rgb(255, 255, 255, 0.16);
  color:rgb(255, 255, 255);
  font-size: 16px;
  padding: 8px;
  border-color: rgb(121, 121, 121);
  outline: none;
}

.statusLabel{
  font-size: 15px;
  padding-left: 10px;
  color:rgb(160, 160, 160)
}

button{
  background-color: rgb(255, 255, 255, .16);
  color: white;
  width:60px;
  height:30px;
  font-size: 20px;
}

.saveAndStatus{
  justify-content: left;
  padding: 20px;
}